<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem id="menu_master_base" name="Administration" sequence="0" />
            <!--Administration Sub-Menu - BEGINS-->
            <menuitem name="Organizations" id="menu_master_company_configuration" parent="menu_master_base" action="cms_company_action" sequence="0"
               />
            <menuitem name="Users" id="menu_master_users_configuration" parent="menu_master_base" action="cms_users_action" sequence="1"
                />
                
             <menuitem name="Viilage" id="menu_village_master_users_configuration" parent="menu_master_base" action="act_open_village_master_view" sequence="5"
                />

    </data>
</odoo>
